AUTHORIZED_IDS=telegram_user_id_1,telegram_user_id_2
AUTHORIZED_USERS=username_1,username_2
DROPBOX_ACCESS_TOKEN=xxxxx
DROPBOX_APP_KEY=xxxxx
DROPBOX_APP_NAME=SebastianAssistant
DROPBOX_APP_SECRET=xxxxx
DROPBOX_REFRESH_TOKEN=-xxxxx
GOOGLE_INSTALLED_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
GOOGLE_INSTALLED_AUTH_URI=https://accounts.google.com/o/oauth2/auth
GOOGLE_INSTALLED_CLIENT_ID=xxxxx
GOOGLE_INSTALLED_CLIENT_SECRET=xxxxx
GOOGLE_INSTALLED_PROJECT_ID=xxxxx
GOOGLE_INSTALLED_REDIRECT_URIS=http://localhost
GOOGLE_INSTALLED_TOKEN_URI=https://oauth2.googleapis.com/token
OPENAI_APIKEY=xxxxx
OPENAI_ORG_ID=xxxxx
TELEGRAM_APIKEY=xxxxx
LOGFOLDER=/logs/