openai 
python-dotenv 
SpeechRecognition 
pyttsx3
piper-tts 
pygame
gtts 
wheel
PyAudio
wave
numpy
pandas
colorama
requests-cache 
retry-requests 
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
dropbox