# jupyter
ipykernel
# general
openai 
python-dotenv 
SpeechRecognition 
pyttsx3
piper-tts 
pygame
gtts 
wheel
telebot
# PyAudio
wave
numpy
pandas
colorama
requests-cache 
retry-requests 
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
dropbox
pyyaml
# langchain agent
langchain_openai
langchain

# voice_to_text
pydub
openai-whisper
loguru
tenacity