[Unit]
Description=Sebastian chatbot
[Service]
Type=simple
PIDFile=/run/sebastian.pid
ExecStart=/bin/bash -c "/home/user/data/sebasbot/.venv/bin/python sebastian_bot.py"
User=user
Group=group
WorkingDirectory=/home/user/data/sebasbot
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
